# Mac system files
.DS_Store

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Streamlit cache
.streamlit/

# Logs
*.log

models/*.joblib
chromadb/